<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/event.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <title>Insert title here</title>
</head>
<body>
<!-- 헤더 영역 -->
<div class="header">
    
    <!-- 헤드라인 -->
    <h1 align="center">Welcome JSP world</h1>
    
    <!-- 로그인 영역 -->
    <div class="login-area">
        
        <!-- 로그인이 필요한 경우 -->
        <th:block sec:authorize="isAnonymous()">
            
            <!-- 로그인 폼 -->
            <form id="loginForm" action="/member/login" method="post">
                <table>
                    <tr>
                        <td>
                            <label class="text">ID : </label>
                        </td>
                        <td>
                            <input type="text" name="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="text">PWD : </label>
                        </td>
                        <td>
                            <input type="password" name="password">
                        </td>
                    </tr>
                </table>
                <div class="btns" align="right">
                    <input type="button" class="btn btn-yg" value="회원가입" id="regist">
                    <input type="submit" class="btn btn-or" value="로그인" id="login">
                </div>
            </form>

        </th:block>
    
        <th:block sec:authorize="isAuthenticated()">
            <!-- 로그인 되어 있는 경우 -->
            <h3><span sec:authentication="principal.username"></span>님의 방문을 환영합니다.</h3>
            <div class="btns">
                <input type="button" class="btn btn-yg" value="정보수정" id="updateMember">
                <input type="button" class="btn btn-or" value="로그아웃" id="logout">
            </div>
        </th:block>
    
    </div>	<!-- login-area end -->
</div>	<!-- header end -->

<!-- 흐름 속성 제거 -->
<br clear="both">

<!-- 메뉴 영역 -->
<div class="menu-area">
    <div class="nav-area">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/notice/list">공지사항</a></li>
            <li><a href="/board/list">게시판</a></li>
            <li><a href="/thumbnail/list">사진게시판</a></li>
        </ul>
    </div>	<!-- nav-area end -->
</div>	<!-- menu-area end -->

<script>
    if(document.getElementById("regist")) {
        const $regist = document.getElementById("regist");
        $regist.onclick = function() {
            location.href = "/member/regist";
        }
    }
    
    if(document.getElementById("logout")) {
        const $logout = document.getElementById("logout");
        $logout.onclick = function() {
            location.href = "/member/logout";
        }
    }
    
    if(document.getElementById("updateMember")) {
        const $update = document.getElementById("updateMember");
        $update.onclick = function() {
            location.href = "/member/update";
            
        }
    }
</script>
</body>
</html>
