<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div th:include="/common/header.html"></div>
<div class="outer outer-board-list">
    <br>
    <h2 align="center">게시판</h2>
    <div class="table-area">
        <table align="center" id="listArea">
            <tr>
                <th width="100px">글번호</th>
                <th width="100px">카테고리</th>
                <th width="300px">글제목</th>
                <th width="100px">작성자</th>
                <th width="100px">조회수</th>
                <th width="150px">작성일</th>
            </tr>
            
            <tr th:each="board : ${ boardList }" >
                <td th:text="${ board.boardNo }"/></td>
                <td th:text="${ board.category.categoryName }"/></td>
                <td th:text="${ board.boardTitle }"/></td>
                <td th:text="${ board.member.nickname }"/></td>
                <td th:text="${ board.boardCount }"/></td>
                <td th:text="${ board.createdDate }"/></td>
            </tr>
            
        </table>
    </div>
    
    <!--<div th:include page="../common/paging.jsp"/>-->
    
     <!--검색 폼 -->
    <div class="search-area" align="center">
        <form id="boardSearchForm" action="/board/list" method="get" style="display:inline-block">
            <input type="hidden" name="currentPage" value="1">
            <select id="searchCondition" name="searchCondition">
                <option value="category" >카테고리</option>
                <option value="writer" >작성자</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
            <input type="search" id="searchValue" name="searchValue" value="">
            
            <button type="submit">검색하기</button>
        </form>
        <div th:if="${  session.loginMember == null }">
            <button id="writeBoard">작성하기</button>
        </div>
    </div>
</div>
<script>
    
    if(document.getElementsByTagName("td")) {
        
        const $tds = document.getElementsByTagName("td");
        for(let i = 0; i < $tds.length; i++) {
            
            $tds[i].onmouseenter = function() {
                this.parentNode.style.backgroundColor = "orangered";
                this.parentNode.style.cursor = "pointer";
            }
            
            $tds[i].onmouseout = function() {
                this.parentNode.style.backgroundColor = "black";
            }
            
            $tds[i].onclick = function() {
                /* 게시물 번호까지 알아왔으니 이제 상세보기는 할 수 있습니다. */
                const no = this.parentNode.children[0].innerText;
                location.href = "/board/detail?no=" + no;
            }
            
        }
        
    }
</script>
</body>
</html>