<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="outer outer-member-insert">
	<br>
	<h2 align="center">비밀번호 변경</h2>
	
	<form id="joinForm" action="/member/regist" method="post">
		<table align="center">
			<tr>
				<td width="200px">* 아이디 </td>
				<td><input type="text" maxlength="13" name="memberId" id="memberId" readonly required></td>
				<td width="100px"><input type="button" value="중복확인" class="btn btn-or" id="duplicationCheck"></td>
			</tr>
			<tr>
				<td>* 비밀번호</td>
				<td><input type="password" maxlength="13" id="memberPwd" name="memberPwd" required></td>
				<td></td>
			</tr>
			<tr>
				<td>* 비밀번호확인</td>
				<td><input type="password" maxlength="13" id="memberPwd2" name="memberPwd2"></td>
				<td><input type="hidden" name="checkPwd" id="checkPwd" value="false"></td>
				<td></td>
			</tr>
			<tr>
				<td>* 닉네임</td>
				<td><input type="text" maxlength="5" name="nickname" required></td>
				<td></td>
			</tr>
			<tr>
				<td>연락처 </td>
				<td><input type="tel" name="phone"></td>
				<td></td>
			</tr>
			<tr>
				<td>이메일 </td>
				<td><input type="email" name="email"></td>
				<td></td>
			</tr>
			<tr>
				<td>우편번호</td>
				<td><input type="text" name="zipCode" id="zipCode" readonly></td>
				<td><input type="button" value="검색" class="btn btn-yg" id="searchZipCode"></td>
			</tr>
			<tr>
				<td>주소</td>
				<td><input type="text" name="address1" id="address1" readonly></td>
				<td></td>
			</tr>
			<tr>
				<td>상세주소</td>
				<td><input type="text" name="address2" id="address2"></td>
				<td></td>
			</tr>
		</table>
		
		<br>
		
		<div class="btns" align="center">
			<input type="reset" value="메인으로"  class="btn btn-yg" id="goMain">
			<input type="submit" value="가입하기" class="btn btn-or">
		</div>
		<input type="hidden" name="address">
	</form>
</div>	<!-- outer end -->

<!-- 다음 우편번호 api -->
<!-- key 발급 없이 무제한으로 이용이 가능하다. -->
<!-- 아래 스크립트를 불러온 후 사용해야 한다. -->
<!-- 참고 링크 : http://postcode.map.daum.net/guide -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    const $searchZipCode = document.getElementById("searchZipCode");
    const $goMain = document.getElementById("goMain");

    $("#address2").change(function() {
        const $zipCode = $("#zipCode").val();
        const $address1 = $("#address1").val();
        const $address2 = $("#address2").val();
        
        console.log($zipCode);
        console.log($address1);
        console.log($address2);
        $address = $zipCode + "$" + $address1 + "$" + $address2;
        $("#address").val("$address");
    });
    
    $("#memberPwd2").focusout(function() {
       const $pwd = $("#memberPwd").val();
       const $pwd2 = $("#memberPwd2").val();
       
       if($pwd != $pwd2) {
           alert("비밀번호가 일치하지 않습니다")
           $("#memberPwd2").val("");
       }
    });
    $searchZipCode.onclick = function() {

        //다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다.
        new daum.Postcode({
            oncomplete: function(data){
                //팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분
                document.getElementById("zipCode").value = data.zonecode;
                document.getElementById("address1").value = data.address;
                document.getElementById("address2").focus();
            }
        }).open();
    }

    $goMain.onclick = function() {
        location.href = "/";
    }
    
    $("#duplicationCheck").click(function() {
        const memberId = prompt("아이디를 입력하세요 .");
        $url = "/member/duplication/" + memberId;
        $.ajax({
            url: $url ,
            type: "get",
            success: function(data) {
                if(data == "중복"){
                    alert("중복입니다");
                } else{
                    $("#memberId").val(memberId);
                }
                this.value = "";
            },
            error: function(xhr, status, error) {
                alert("fail to connect...");
            }
        });
    });
    $("#memberPwd2").change(function () {
        if($("#memberPwd").val() != $(this).val()) {
            $("checkPwd").val("false");
        } else {
            $("checkPwd").val("true");
        }
    });
</script>
</body>
</html>





















